body,
html {
    background-image: url('../images/BackgroundDark1.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax{
    background-image: url('../images/BackgroundPurple.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    border-bottom-left-radius:14%;
    border-bottom-right-radius:14%;
    margin-bottom: 55px;
}

.slide-text {
    color: rgb(255, 255, 255);
    margin-top: -60px;
    margin-left: 30px;
    font-size: 30px;
}

.slide-images{
    height: 140px !important;
    border-radius: 10px;
}

.category_images{
    height: 300px;
}

.headings {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    width: 100%;
}

.headings>h3 {
    color: #ffffff;
}

.headings h3:hover {
    cursor: pointer;
    color: #2caae1;
}

.headings>label {
    color: white;
    float: right;
    position: absolute;
    right: 30px;
}

.headings>label:hover {
    color: #2caae1;
    cursor: pointer;
    text-decoration: underline;
}

.img-text {
    color: aliceblue;
    text-overflow: ellipsis;
    height: 25px;
}

.img-text:hover {
    color: #2caae1;
    cursor: pointer;
}

.item>a>img, .item>img {
    border-radius: 10px;
}

.carousel-wrapper {
    font-family: sans-serif;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    margin-top: -30px;
    height: 70px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 39px;
    border-radius: 3px;
    background: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5110e9;
}

@media (max-width:480px) {
    .parallax{
        height: 450px;
        border-bottom-left-radius:14%;
        border-bottom-right-radius:14%;
    }
    .slide-images{
        height: 80px !important;
        border-radius: 10px;
    }
    .headings>h3 {
        color: #ffffff;
        font-size: large;
    }
    .img-text{
        font-size: small;
        height: 20px;
    }
    .headings>label{
        font-size: small;
    }
    .category_images{
        height: 250px;
    }
    .owl-theme .owl-nav [class*=owl-] {
        font-size: 32px;
    }
}