#player_nav {
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    padding: 0 !important;
    padding-top: 10px !important;
}

.player button {
    padding: 5px 2px;
    margin: 1px;
}

.player button:hover {
    background: red;
    color: black;
}

.left {
    display: inline-block;
    height: 100%;
    margin-left: 12px;
    display: flex;
}

.left .track-img-con {
    display: inline-block;
    box-shadow: 0 0 5px black;
    height: 48px;
    width: 60px;
}

#track_image {
    height: 48px;
    width: 60px;
    /*float:left;*/
}

.middle {
    /*float:left;*/
    width: 100%;
    margin-left: 14px;
    margin-right: 110px;
    display: inline-block;
    position: relative;
    /*background:lightblue;*/
    /*display:flex;*/
}

.buttons {
    padding-top: 5px;
    width: 135px;
    left: 45%;
    margin: 0 auto;
    margin-top: -5px;
    position: absolute;
    z-index: 3;
}

.middle button {
    border: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background: none;
    color: white;
    display: inline;
    outline: none;
    box-shadow: 0 0 30px black;
}

#play {
    background: red;
}

#next,
#pre {
    width: 38px;
    height: 38px;
    margin-top: 3%;
}

.middle #title,
.middle #artist {
    text-transform: capitalize;
    color: white;
    font-size: 17px;
    display: inline-block;
}

.middle #artist {
    font-size: 15px;
}

.middle #album {
    color: white;
    font-size: 12px;
}

.middle .duration {
    width: 97%;
    display: flex;
    transition: 0.05s;
}

#currenttime {
    position: absolute;
    color: white;
    margin-top: 2.2px;
}

#totaltime {
    position: absolute;
    right: 0;
    margin-left: 10px;
    color: white;
}

.middle input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    height: 2.5px;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 50px;
    margin-right: 20px;
    transition: all ease-in-out 0.05s;
    margin-bottom: 12px;
}

.middle input[type="range"]::-webkit-slider-runnable-track {
    height: 2.5px;
    border-radius: 5px;
    transition: all ease-in-out 0.05s;
}

.middle input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    margin-top: -5px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.05s;
}

.right {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: -7px;
}

.right .volume {
    display: inline-block;
    position: relative;
    /*height:100%;*/
    padding-top: 15px;
}

.right .volume #volume_icon {
    cursor: pointer;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

.right input[type=range] {
    display: none;
    /*-webkit-appearance:none;*/
    /*background:none;*/
    transform: rotate(-90deg);
    position: absolute;
    left: -53px;
    bottom: 90px;
    /*height:2px;*/
    outline: none;
}

@media (max-width: 768px) {
    #mobile_player_nav{
        display: flex;
        height: fit-content;
        z-index: 10000;
    }
    
    #mobile_player_nav{
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    padding: 0 !important;
    padding-bottom: 12px !important;
    }

    #mobile_player_nav .duration{
        width: 100%;
        margin-top: -15px;
    }

    #mobile_player_nav input[type="range"] {
        width: 100%;
        -webkit-appearance: none;
        outline: none;
        height: 2.5px;
        cursor: pointer;
        transition: all ease-in-out 0.05s;
        margin-bottom: 12px;
        }

    #mobile_player_nav input[type="range"]::-webkit-slider-runnable-track {
        height: 2.5px;
        border-radius: 5px;
        transition: all ease-in-out 0.05s;
    }

    #mobile_player_nav input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 13px;
        width: 13px;
        margin-top: -5px;
        background: red;
        border-radius: 50%;
        cursor: pointer;
        transition: all ease-in-out 0.05s;
    }

    #mobile_player_nav > .middle {
        display: flex;
        position: relative;
        margin: 0;
        padding-left: 12px;
    }

    #mobile_player_nav .m-buttons {
        width: fit-content;
        z-index: 3;
        position: absolute;
        right: 0;
        float: right !important;
    }

    #mobile_player_nav > .middle button {
        border: none;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 15px;
        transition: 0.3s;
        background: none;
        color: white;
        display: inline;
        outline: none;
        box-shadow: 0 0 30px black;
    }

    #mobile_player_nav > .middle #title,
    #mobile_player_nav > .middle #artist{
        text-transform: capitalize;
        color: white;
        font-size: 17px;
        display: block;
    }

    #mobile_player_nav > .middle #artist{
        font-size: 12px;
    }

    #mobile_player_nav #currenttime, #totaltime, .left, .right, #album {
        display:none;
    }

}

/* Mobile Screen */




/* #currenttime {
    position: absolute;
    color: white;
    margin-top: 2.2px;
    display:none;
}*/

/*#totaltime {
    position: absolute;
    right: 0;
    margin-left: 10px;
    color: white;
    display:none;
} 
*/

/*#mobile_player_nav input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    height: 2.5px;
    cursor: pointer;
    transition: all ease-in-out 0.05s;
    margin-bottom: 12px;
}

#mobile_player_nav input[type="range"]::-webkit-slider-runnable-track {
    height: 2.5px;
    border-radius: 5px;
    transition: all ease-in-out 0.05s;
}

#mobile_player_nav input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    margin-top: -5px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.05s;
}
*/

/*#mobile_player_nav > .left {
    display: none;
}*/

/*
#mobile_player_nav > .middle {
    display: flex;
    position: relative;
    margin: 0;
    padding-left: 12px;
}

#mobile_player_nav .m-buttons {
    width: fit-content;
    z-index: 3;
    position: absolute;
    right: 0;
    float: right !important;
}

#mobile_player_nav > .middle button {
    border: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background: none;
    color: white;
    display: inline;
    outline: none;
    box-shadow: 0 0 30px black;
}*/

/*#mobile_player_nav > .middle #title,
#mobile_player_nav > .middle #artist{
    text-transform: capitalize;
    color: white;
    font-size: 17px;
    display: block;
}

#mobile_player_nav > .middle #artist{
    font-size: 12px;
}*/

/*#mobile_player_nav > .middle #album{
    display: none;
}
*/

.right input[type=range]::-webkit-slider-runnable-track{
	-webkit-appearance:none;
	height:3px;
	background:black;
}

.right input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	height:14px;
	width:14px;
	border-radius: 50%;
	margin-top:-5px;
	background-color:salmon;
}

.right .volume:hover #volume_icon {
    text-shadow: 0 0 25px white;
}

.right .volume:hover input[type=range] {
    display: inline-block;
}

.right #queue_icon {
    cursor: pointer;
    color: white;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-left: 20px;
    margin-top: -3px;
}

/*#mobile_player_nav > .right{
    display: none;
}*/